/* Default theme. Simple, yet elegant. */

/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* See https://getbootstrap.com/docs/5.2/customize/css-variables/#root-variables for variables to override. */
:root {
  --bs-font-sans-serif: "Open Sans", sans-serif;
  --bs-link-color: var(--bs-blue);
  --tf-pill-bg: var(--bs-gray);
  --tf-icon-fill: var(--bs-gray);
  --tf-icon-hover: var(--bs-gray-500);
  --tf-page-bg-color: var(--bs-gray-200);
  --tf-footer-bg-color: var(--bs-gray-300);
  --tf-header-bg-color: var(--bs-gray-300);
  --tf-projects-bg-color: var(--bs-gray-100);
}


a {
  text-decoration: none;
}

@media (max-width: 500px) {
  .navbar-brand {
    display: none;
  }

  .navbar-brand-mobile {
    display: inline;
  }
}

.banner {
  background-size: cover;
  aspect-ratio: 3;
  background-color: transparent;
}

.textbox {
  text-align: justify;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.vcenter {
  display: flex; 
  justify-content: center; 
  align-items: center;
}
