---
layout: default
---
<header class="container-fluid banner", style="{{ page.banner_style }}">
    <div class="row">
    <nav class="navbar navbar-expand navbar-dark bg-transparent">
      <a class="navbar-brand" style="padding-left: 2%;" href="/">Technical Design Portfolio</a>
      <div class="navbar-nav mb-2 mb-lg-0">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/pages/combatrobotics.html">Combat Robotics</a>
            <a class="nav-item nav-link" href="/pages/test.html">test</a>
            <a class="nav-item nav-link" href="#">Pricing</a>
        </div>
      </div>
    </nav>
    </div>
    <div class="row" style="height: 100%;">
      <div class="col-lg-8 text-white display-4 vcenter">
        {{ header }}
      </div>
      <div class="col-lg-4"></div>
    </div>
</header>

<div class="container textbox">
    {{ content }}
</div>
